.password-create-container {
	top: 20vh;
	left: 40vw;
	position: absolute;
	width: 100%;
	max-width: 500px;
	margin: 20px auto;
	padding: 20px;
	border: 2px solid #ffd277; /* Gold outline */
	border-radius: 10px;
	background-color: #333; /* Dark background */
	color: #fff;
      }
      
      .password-create-container h2 {
	text-align: center;
	color: #ffd277; /* Gold text */
	margin-bottom: 20px;
      }
      
      .password-create-form {
	display: flex;
	flex-direction: column;
      }
      
      .form-group {
	margin-bottom: 15px;
      }
      
      .form-group label {
	display: block;
	margin-bottom: 5px;
	color: #ffd277; /* Gold label text */
      }
      
      .form-group input[type="text"],
      .form-group input[type="number"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ffd277; /* Gold border */
	border-radius: 5px;
	background-color: #444; /* Dark background for inputs */
	color: #ffd277; /* Gold text */
      }
      
      .form-group input[type="text"]:focus,
      .form-group input[type="number"]:focus {
	border-color: #ffd277;
	box-shadow: 0 0 5px #ffd277;
	outline: none;
      }
      
      .form-group input[type="checkbox"] {
	margin-right: 10px;
      }
      
      .submit-btn {
	width: 100%;
	padding: 15px;
	border: none;
	border-radius: 10px;
	background: linear-gradient(to right, #77530a, #ffd277, #77530a);
	color: #000000;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s;
      }
      
      .submit-btn:hover {
	background-color: #ffd277;
	color: #333;
      }
      